.nav_bar_container {
    text-align   : right;
    margin-right : 30px;
}
.nav li {
    display : inline-block;
    margin  : 5px 15px 5px 0;
}
.nav li, a, i {
    text-decoration : none;
    color           : #9D9D9D;
    cursor          : pointer;
}
.li_content:hover a, .li_content:hover i, .dropbtn:hover {
    color : #000000;
}
.hamburger_content {
    display : none;
}
.dropbtn {
    cursor           : pointer;
    border           : none;
    color            : #9D9D9D;
    background-color : inherit;
    font-size        : 16px;
    margin           : 0;
    padding          : 14px 16px;
}
.dropdown_content {
    display          : none;
    position         : absolute;
    box-shadow       : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index          : 1;
    background-color : #FFFFFF;
    margin-left      : 8px;
}
.dropdown_content a {
    float           : none;
    padding         : 12px 16px;
    text-decoration : none;
    display         : block;
    text-align      : center;
}
.dropdown_content a:hover {
    color : #000000;
}
.show {
    display : block;
}
/* Hamburger Menu, when screen size goes below, then show */
@media screen and (max-width : 420px) {
    .nav_bar_container {
        margin-right : 0;
    }
    .nav li {
        display : none;
    }
    .dropbtn {
        display : none;
    }
    .hamburger_container {
        margin-left : 10px;
    }
    .hamburger_content {
        display : block;
    }
    .bar1, .bar2, .bar3 {
        display          : block;
        width            : 35px;
        height           : 5px;
        background-color : #000000;
        margin           : 6px 0;
        transition       : 0.4s;
        cursor           : pointer;
    }
    .change .bar1 {
        -webkit-transform : rotate(-45deg) translate(-9px, 6px);
        transform         : rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {
        opacity : 0;
    }
    .change .bar3 {
        -webkit-transform : rotate(45deg) translate(-8px, -8px);
        transform         : rotate(45deg) translate(-8px, -8px);
    }
    .nav.responsive li {
        display : block;
        margin  : 5px 15px 5px 0;
    }
    .nav.responsive {
        text-align : center;
    }
}